html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(png/bg.png);
  background-size: cover;
}
/* nav bar */
.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-family: Montserrat, sans-serif;
}
.nbl {
  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 5vh;
}
.nbl-content,
.nbr-content {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.portfolio {
  padding-left: 0.5vh;
  color: #9e957f;
}
.nbr {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nbr a:hover {
  transform: scale(1.2);
}
/* nav bar */
/* main content */
.main-content {
  height: 80vh;
  display: flex;
  align-items: center;
}
.mcl {
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  font-size: 70px;
  width: 50%;
  margin-left: 15vh;
}
.mcr {
  width: 30%;
  padding-left: 15vh;
}
.coding {
  width: 50vh;
}

/*main content*/
/* RWD for max width 600px */
@media screen and (max-width: 600px) {
  /* nav bar */
  .navbar {
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nbl {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .nbr {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .nbl-content,
  .nbr-content {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }

  .portfolio {
    padding-left: 0.5vh;
    color: #9e957f;
  }

  .nbr-content {
    margin: 0 1vw;
  }
  /* main content */
  .main-content {
    flex-direction: column;
    height: 70vh;
    align-items: center;
  }
  .mcl {
    font-size: 30px;
    width: 80%;
    margin: 5vh 0;
    text-align: center;
  }
  .mcr {
    width: 80%;
    padding: 0;
  }
  .coding {
    width: 100%;
  }
}
