* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: rgb(6, 9, 24);
  --font-family-Rubik400: "Rubik Mono One", sans-serif;
  --font-family-Montserrat900: "Montserrat", sans-serif;
  /* #06091880 */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Nav Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-family: var(--font-family-Rubik400);
  background-color: var(--bg-color);
}
.nbleft {
  position: relative;
  font-size: 3.5rem;
  margin: left 3.5rem;
}
.nbright {
  position: relative;
}
.nbright a {
  font-size: 3rem;
  margin-left: 2rem;
}

.navbar a {
  color: white;
}
/* Nav Bar */
/* Main Content-HOME */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home-content {
  font-size: 3rem;
  color: black;
  font-family: var(--font-family-Montserrat900);
}

.home-content #typewriter {
  font-size: 4rem;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
  font-family: Arial, Helvetica, sans-serif;
}

.coding {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 40%;
  height: 80%;
  background: url("./png/coding.png") no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 98;
}
/* Main Content-HOME */
