* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: rgb(6, 9, 24);
  --font-family-Rubik400: "Rubik Mono One", sans-serif;
  --font-family-Montserrat900: "Montserrat", sans-serif;
  /* #06091880 */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
/* Nav Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-family: var(--font-family-Rubik400);
  background-color: rgba(6, 9, 24, 0.7);
  backdrop-filter: blur(10px);
}
.nbleft {
  position: relative;
  font-size: 3.5rem;
}
.nbright {
  position: relative;
}
.nbright a {
  font-size: 3rem;
  margin-left: 2rem;
}

.navbar a {
  color: white;
}
/* Nav Bar */
/* Main Content-HOME */

.home-content {
  font-size: 3rem;
  color: black;
  font-family: var(--font-family-Montserrat900);
}

.home-content #typewriter {
  font-size: 4rem;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9%;
}

.coding {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 40%;
  height: 80%;
  background: url("./png/coding.png") no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 98;
}
/* Main Content-HOME */
/* Content-ABOUT*/
.about {
  background-color: var(--bg-color);
  color: white;
}

.about h1 {
  position: relative;
  font-size: 5rem;
  margin-bottom: 3rem;
  font-family: var(--font-family-Rubik400);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10rem;
}

#aboutWord {
  font-family: var(--font-family-Montserrat900);
  font-size: 3rem;
  max-width: 50%;
}

.threed {
  width: 200px;
  height: 200px;
  margin: 0;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
  right: 10rem;
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid orange;
    border-radius: 50%;
    &:nth-child(1) {
      border-color: #0097e6;
      animation: move1 1.2s linear -0.8s infinite;
    }
    &:nth-child(2) {
      border-color: #8a7ce6;
      animation: move2 1.2s linear -0.4s infinite;
    }
    &:nth-child(3) {
      border-color: #e1b12c;
      animation: move3 1.2s linear infinite;
    }
  }
}

@keyframes move1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes move2 {
  0% {
    transform: rotateX(50deg) rotateY(10eg) rotateZ(0);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes move3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* Content-ABOUT*/

/* Content-PROJECT */
/* Content-PROJECT */
